<header> 
  <div>
    <h2 style="text-align: center;padding-top: 20px;">Hai Welcome to my page</h2>
    
  </div>
  
  
  <nav style="text-align: center;padding: 10px;">
    <button class="btn1" value="tableView"><a routerLink="retrieve" >Retrieve</a></button>
    
    <button class="btn1" value="tableView"><a routerLink="update">Update</a></button>
    
    <button class="btn1" value="tableView"><a routerLink="create" >Create</a></button>
  
    
    <button class="btn1" value="tableView"><a routerLink="delete">Delete</a></button>
    
  </nav>
  </header>
  
<router-outlet></router-outlet>